<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "search", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "choices", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "custom-materialize", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "flatpickr", "data-turbolinks-track": "reload" %>
    <script src="https://catalin.red/dropdown-menu-concept/"></script>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    <div class="container-fluid"r>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
